---
import { Image } from 'astro:assets';
import AboutUsImg from '@/images/about-us.webp';

const valuesData = [
  'Calidad',
  'Disciplina',
  'Higiene',
  'Respeto',
  'Crecimiento',
  'Profesionalismo',
];
---

<section class='bg-pink-50/70 px-4 py-10'>
  <Image
    src={AboutUsImg}
    alt='Fotografía del equipo oficial de Jolimia Academy'
    class='rounded-2xl shadow-black/30 shadow-lg'
  />

  <h1 class='mt-8 inline-block w-full text-2xl text-center font-bold'>
    ¿Quiénes somos?
  </h1>

  <div class='my-4 space-y-1'>
    <h2 class='inline-block text-lg text-primary font-bold'>Nuestra misión</h2>
    <p class='inline-block text-sm text-fg-default'>
      Empoderar a estudiantes con formación técnica, práctica y profesional en
      la industria de la belleza, preparándolos para ejercer con confianza,
      responsabilidad y éxito.
    </p>
  </div>

  <div class='mb-4 space-y-1'>
    <h2 class='inline-block text-lg text-primary font-bold'>Nuestra visión</h2>
    <p class='inline-block text-sm text-fg-default'>
      Ser una academia reconocida en Virginia por su excelencia educativa, ética
      profesional y resultados reales.
    </p>
  </div>

  <div class='mb-6 space-y-2'>
    <h2 class='inline-block text-lg text-primary font-bold'>
      Nuestros valores
    </h2>
    <ul class='flex flex-wrap gap-2'>
      {
        valuesData.map((value) => (
          <li class='bg-rose-100 text-rose-700 inline-block w-fit px-4 py-2 rounded-full font-semibold text-xs'>
            {value}
          </li>
        ))
      }
    </ul>
  </div>

  <div
    class='bg-rose-100 p-5 relative before:w-1 before:h-full before:bg-rose-700 before:block before:absolute before:left-0 before:top-0'
  >
    <span class='text-rose-700 font-bold'>En Jolimia</span> no solo aprendes técnica.
    Aprendes disciplina, ética, servicio al cliente y mentalidad profesional.
  </div>
</section>
