---
interface AccreditationData {
  title: string;
  description: string;
}

const accreditationData: AccreditationData[] = [
  {
    title: "Reconocimiento estatal",
    description: "Licencias válidas en todo virginia.",
  },
  {
    title: "Estándares rigurosos",
    description: "Cumplimos con todas las normas y regulaciones.",
  },
  {
    title: "Preparación garantizada",
    description: "Cursos diseñados para pasar el examen estatal.",
  },
];
---

<section>
  <article>
    <h1>Programas Avalados</h1>
    <p>
      Nuestros programas están avalados por el estado
      <strong>DPOR-VIRGINIA</strong>. Estos programas cumplen los requisitos
      estatales más rigurosos y conducen a una licencia profesional en Virginia.
    </p>

    <ul>
      {
        accreditationData.map((item) => (
          <li>
            <strong>{item.title}:</strong>
            {item.description}
          </li>
        ))
      }
    </ul>

    <button>Regístrate</button>

    <div>
      <h1>DPOR-VIRGINIA</h1>
      <p>Departamento de Ocupaciones Profesionales y Regulación</p>
      <div>Certificación #2024-VA-COSMETOLOGY</div>
    </div>
  </article>
</section>
