---
import { Icon } from 'astro-icon/components';

interface SocialMedia {
  label: string;
  icon: string;
  link: string;
}

const socialMedia: SocialMedia[] = [
  {
    label: 'Facebook',
    icon: 'lucide:facebook',
    link: '#',
  },
  {
    label: 'Instagram',
    icon: 'lucide:instagram',
    link: '#',
  },
  {
    label: 'LinkedIn',
    icon: 'lucide:linkedin',
    link: '#',
  },
];
---

<footer class='py-10 bg-gray-900 text-white'>
  <div class='px-4'>
    <h3
      class='text-xl font-bold bg-linear-to-r from-rose-400 to-pink-400 bg-clip-text text-transparent mb-4'
    >
      Jolimia Beauty Academy
    </h3>
    <p class='text-gray-400 mb-4 leading-relaxed'>
      Transformando vidas a través de la excelencia en educación de belleza
      profesional.
    </p>
    <ul class='flex gap-4'>
      {
        socialMedia.map((item) => (
          <li class='bg-gray-800 hover:bg-rose-500 p-3 rounded-full transition-all duration-300 transform hover:scale-110'>
            <a href={item.link}>
              <Icon name={item.icon} class='size-5 text-white' />
            </a>
          </li>
        ))
      }
    </ul>

    <hr class='text-gray-800 my-5' />

    <span class='inline-block w-full text-center text-gray-400'>
      © 2024 Jolimia Beauty Academy. Todos los derechos reservados.
    </span>
  </div>
</footer>
