---
import Analytics from "@vercel/analytics/astro";
import "@/global.css";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <Analytics />
    <title>{title}</title>
    <script is:inline>
      const theme =
        localStorage.getItem("theme") ??
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white">
    <slot />

    <button
      id="to-top-btn"
      type="button"
      class="fixed bottom-4 right-4 z-30 p-3 rounded-full bg-black dark:bg-white
           opacity-0 pointer-events-none
           transition-opacity duration-300 ease-out"
    >
      <Icon
        name="icomoon-free:arrow-down"
        class="size-6 text-white dark:text-black rotate-180"
      />
    </button>
  </body>
</html>

<script>
  const $btn = document.getElementById("to-top-btn");
  const SHOW_AT = 400; // px de scroll vertical

  window.addEventListener("scroll", () => {
    const shouldShow = window.scrollY > SHOW_AT;

    $btn?.classList.toggle("opacity-100", shouldShow);
    $btn?.classList.toggle("opacity-0", !shouldShow);
    $btn?.classList.toggle("pointer-events-none", !shouldShow);
  });

  $btn?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
