---
import { Icon } from "astro-icon/components";
---

<section
  class="bg-linear-to-br from-black to-black/95 w-dvw h-dvh grid place-content-center px-4"
>
  <article class="bg-white/5 shadow-2xl shadow-black/70 rounded-xl p-4">
    <Icon name="pixel:code-block-solid" class="text-yellow-600 size-8" />

    <div class="space-y-1 mt-2">
      <h1 class="text-white inline-block text-md font-medium">
        Página en Construcción
      </h1>
      <p class="text-white/60 inline-block text-sm">
        Estamos desarrollando esta página para ofrecerle la mejor experiencia
        posible. Gracias por su paciencia mientras realizamos las mejoras.
      </p>
    </div>
  </article>
</section>
